name: Build and deploy to Netlify

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  cache: "npm"

            - name: Install project dependencies
              run: npm install

            - name: Build the project
              run: npm run build

            - name: Deploy to Netlify
              run: npx netlify deploy --prod --dir=dist --site=$NETLIFY_SITE_ID
              env:
                  NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}